@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Roboto&family=Rubik+Bubbles&display=swap");

/* font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Bubbles', cursive; */

* {
  margin: 0;
  padding: 0;

  --light-blue: #8ecae6;
  --medium-blue: #219ebc;
  --dark-blue: #023047;
  --medium-yellow: #ffb703;
  --light-orange: #ffb84e;
  --medium-orange: #fb8500;
  --dark-orange: #f76b1c;
  --light-gray: #f5f5f5;
  --medium-gray: #acacac;
  --dark-gray: #8f8f8f;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--light-gray);
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 99;
}

.hamburger {
  display: none;
  height: 50px;
  width: 50px;
  margin: 0 50px;
}

.site_logo {
  font-family: "Love Ya Like A Sister", cursive;
  color: var(--medium-blue);
  font-size: 2rem;
  margin: 4px 8px;
}

.site_logo span {
  font-size: 4rem;
}

#myMenu {
  display: flex;
}

#myMenu a {
  font-family: "Roboto", sans-serif;
  color: var(--medium-blue);
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 8px;
}

.page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.page_container * {
  margin: 16px 2px;
}

.btn {
  background-color: var(--medium-blue);
  color: var(--light-gray);
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--dark-blue);
  color: var(--ligh-blue);
}

.s1 {
  background-color: var(--medium-blue);
}

.s2 {
  background-color: var(--light-blue);
}

.s3 {
  background-color: var(--medium-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.s3 h1 {
  font-family: "Love Ya Like A Sister", cursive;
  color: white;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.home_page-top {
  font-family: "Love Ya Like A Sister", cursive;
  color: white;
  font-size: 3rem;
}

.home_page-mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.home_page-bot {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.home_img {
}

.services {
  max-width: 1180px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1;
  align-items: center;
  justify-content: center;
}

.service {
  flex-basis: 20%;
  margin: 50px 20px;
  text-align: center;
  color: white;
}

.service i {
  font-size: 5rem;
}

.service p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.ser #fp-nav ul li a span {
  /* background-color: red; */
}

@media screen and (max-width: 768px) {
  #myMenu {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .page_container {
  }

  .home_page-top {
    font-size: 2rem;
  }

  .home_page-mid {
    flex-direction: column;
  }

  .home_page-mid img {
    height: 200px;
    padding-top: -100px;
  }

  .s3 h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }

  .service {
    flex-basis: 40%;
    margin: 20px 20px;
  }

  .services i {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .services p {
    font-size: 1rem;
  }
}
